requests
pandas
numpy
confluent-kafka
pydantic
websocket
websockets
websocket-client
aiokafka
cctx
kafka-python-ng
kafka-python
mmh3
pyyaml
aiohttp
setuptools
cachetools
pydantic-settings
forex-python
pytest
pytest-asyncio
aiokafka[gssapi]
confluent-kafka[avro,schemaregistry]
